@import url("http://fonts.cdnfonts.com/css/montserrat");
@-webkit-keyframes greeen {
  0% {
    width: 120px;
  }
  100% {
    width: 50px;
  }
}
@keyframes greeen {
  0% {
    width: 120px;
  }
  100% {
    width: 50px;
  }
}
@-webkit-keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes entrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes moveL {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes moveL {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes moveR {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes moveR {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes moveB {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes moveB {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}
li {
  list-style: none;
}

.btn-primary {
  margin: 5px;
  width: auto;
}

a {
  text-decoration: none;
}

a:hover {
  color: #4884B7;
}

.link {
  height: 40px;
  width: auto;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: bold;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #4884B7;
  color: white;
  background-color: #4884B7;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.link a {
  color: white;
}

.link:hover {
  transform: scale(1);
  background-color: #1a5486;
}

html, body {
  box-sizing: border-box;
  line-height: 1.5em;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
  background-color: #F3F3F5;
}

.main {
  display: block;
  width: 100%;
}

.form {
  margin: 0px auto 40px auto;
  width: 550px;
  height: auto;
  text-align: left;
  padding-left: 10px;
  border-radius: 15px;
  background-color: rgb(207, 205, 201);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.form h1 {
  color: #4884B7;
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
}
.form span {
  color: #4884B7;
  font-size: 2em;
  font-weight: bold;
}
.form span .gh {
  font-size: 1em;
  font-weight: 400;
}
.form .details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  margin: auto;
}
.form .details label {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  justify-content: start;
}
.form .details label .sm {
  width: 15px;
  height: 15px;
  margin: 5px 5px auto 0;
}
.form .details label img {
  width: 25px;
  height: 25px;
}
.form .details label p {
  font-size: 1em;
  font-weight: 400;
}
.form__details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}
.form__details label {
  flex: 1;
  margin: auto 0;
}
.form__details label input {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 10px;
  color: rgb(26, 21, 21);
}
.form label {
  margin: 10px auto auto 0;
  width: 250px;
  text-align: left;
}
.form label input {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 10px;
  color: rgb(26, 21, 21);
  position: relative;
}
.form label .blue {
  color: #4884B7;
  font-weight: bold;
  padding-left: 20px;
}
.form label .black {
  color: rgb(34, 26, 26);
  font-weight: 600;
}
.form label .currency {
  position: absolute;
  margin: -30px auto auto 60px;
  color: #4884B7;
  font-weight: bold;
}
.form label .flag {
  position: absolute;
  margin: 2px 50px auto -40px;
  color: #4884B7;
  font-weight: bold;
  height: 30px;
  width: 30px;
}
.form__close,
.form .form__close {
  float: right;
  height: 40px;
  margin: 10px 0 10px auto;
}
.form__close i,
.form .form__close i {
  margin: auto 10px auto auto;
}
.form .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  margin: 20px auto;
}
.form__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin: 50px auto;
}
.form__items__item {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: 500ms ease-in-out;
}
.form__items__item img {
  width: 70px;
  height: 70px;
}
.form__items__item p {
  text-align: center;
  font-size: 0.9em;
}
.form__items__item:hover {
  transform: scale(1.1);
}
.form .link {
  margin: 20px auto;
  width: 150px;
}

.container {
  width: 100%;
}

button a {
  color: white;
  font-weight: bold;
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  background: rgb(4, 5, 53);
  z-index: 99999;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

label.logo img {
  margin: 10px auto;
  height: 50px;
  width: 170px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
}

.nav-link, .login-link {
  border-radius: 3px;
  height: 40px;
  color: white;
  font-weight: bold;
}

.login-link:hover {
  font-weight: bold;
  font-size: 1em;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1279px) {
  .checkbtn {
    display: block;
  }
  .checkbtn i {
    color: white;
  }
  nav {
    position: fixed;
    z-index: 9999;
    background-color: #40312C;
  }
  nav label img {
    top: 5px;
    left: 5px;
    position: absolute;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    padding-top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover, a.active {
    background: none;
    color: #D1AF52;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.dashboard {
  width: 95%;
  display: flex;
  margin: auto auto 70px auto;
  padding-top: 110px;
}
.dashboard .menu {
  width: 20%;
  height: 80vh;
  background-color: #202022;
  border-radius: 10px;
  border: 1px #202022 solid;
  display: block;
  text-align: center;
  overflow: hidden;
  padding-top: 0;
}
.dashboard .menu li {
  margin: 0px auto 10px auto;
  background-color: #4884B7;
}
.dashboard .menu li .link {
  width: 100%;
  background: #4884B7;
  border-radius: 10px;
  border: none;
}
.dashboard .menu li .link a {
  color: white;
  font-weight: bold;
}
.dashboard .menu li button {
  background-color: #4884B7;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  height: 35px;
  width: auto;
  cursor: pointer;
  transition: 500ms ease-in-out;
}
.dashboard .menu li .link:hover {
  background-color: #1a5486;
}
.dashboard .menu li button:hover {
  background-color: #1a5486;
}
.dashboard .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  border-radius: 10px;
  margin: auto;
  margin-left: 20px;
  padding-bottom: 50px;
  background-color: #4884B7;
}
.dashboard .content__title {
  margin: 20px auto auto 10px;
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
}
.dashboard .content__infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  text-align: right;
  float: right;
  height: 50px;
  margin: auto 0;
}
.dashboard .content__infos .icons {
  margin: auto 0 auto auto;
  float: right;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.dashboard .content__infos .icons .icon {
  margin: 10px;
  text-align: right;
  cursor: pointer;
  transition: 500ms ease-in-out;
}
.dashboard .content__infos .icons .icon:hover {
  transform: scaleX(1);
}
.dashboard .content__boxes {
  margin: 5px auto auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  cursor: pointer;
  text-align: left;
  width: 100%;
}
.dashboard .content__boxes .box {
  width: 150px;
  margin: 15px;
  border-radius: 10px;
  position: relative;
  flex: 1;
  margin: 15px;
  background-color: whitesmoke;
  display: block;
  padding: 10px;
}
.dashboard .content__boxes .box .fa-wallet {
  font-size: 1.4em;
  margin: auto 40px auto 40px;
  text-align: center;
  color: #4884B7;
  margin: auto;
}
.dashboard .content__boxes .box .devise {
  margin: auto;
  text-align: center;
}
.dashboard .content__boxes .box .devise img {
  width: 50px;
  height: 50px;
}
.dashboard .content__boxes .box .note {
  display: block;
}
.dashboard .content__boxes .box .note h3 {
  text-decoration: underline;
  font-size: 1em;
}
.dashboard .content__boxes .box .note i {
  font-size: 1.4em;
  margin: auto;
  color: #4884B7;
}
.dashboard .content__boxes .box .note .wallet {
  margin: auto;
  text-align: center;
}
.dashboard .content__boxes .box .note .important {
  display: table;
  color: #4884B7;
  position: relative;
  width: 100%;
}
.dashboard .content__boxes .box .note .important img {
  width: 15px;
  height: 15px;
}
.dashboard .content__boxes .box .note .important strong {
  position: absolute;
  right: 0px;
}
.dashboard .content__boxes .box .note label {
  margin: 15px auto;
}
.dashboard .content__boxes .box .note label input {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 10px;
  color: rgb(26, 21, 21);
}
.dashboard .content__boxes .box .note label button {
  background-color: #4884B7;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  height: 35px;
  width: auto;
  cursor: pointer;
  transition: 500ms ease-in-out;
}
.dashboard .content__boxes .box-form {
  width: 320px;
  height: 320px;
}
.dashboard .content__graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  height: auto;
}
.dashboard .content__graphs .graph {
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 10px;
  flex: 1;
  margin: 10px;
  display: block;
}

.top {
  height: 350px;
  margin: 70px auto 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 140px;
  /*   background-image:
      linear-gradient(rgba(36, 35, 117, 0.794),
       rgba(23, 19, 71, 0.589)),
              url("");
  */
}
.top__text {
  text-align: center;
  width: 70%;
  margin: auto;
  opacity: 1;
  -webkit-animation: entrance 2s ease-in-out;
          animation: entrance 2s ease-in-out;
}
.top__text__title {
  color: #4884B7;
  font-size: 2.2em;
  font-weight: bold;
  margin: 20px auto;
}
.top__text__text {
  font-size: 1em;
  margin: 20px auto;
}
.top__text__subtitle {
  font-size: 1.2em;
  margin: 20px auto;
}
.top__text__items {
  margin: 40px auto;
  width: 80%;
}
.top__text__items li {
  display: inline;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  height: 60vh;
  margin: 90px auto;
  width: 70%;
}
.about__item {
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  /*
          &__boxes{
                  @include flex();
                  .box{
                      margin: 15px;
                      height: 140px;
                      width: 170px;
                      border: 1px solid;
                      cursor: pointer;
                      display: table;
                      i{
                          color: white;
                      }

                      p{
                          display: table-cell;
                          vertical-align: middle;
                      }
                  }

                  .green{
                      background-color: rgb(53, 233, 53);
                      border: 1px green solid;
                  }

                  .orange{
                      background: #f47032;
                      border: 1px #f47032 solid;
                  }


          }
          */
}
.about__item__title {
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
}
.about__item__text {
  text-align: justify;
  width: 80%;
  margin: auto;
}
.about__item .link {
  margin: auto;
}
.about__item__boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  margin: auto;
  height: 80%;
}
.about__item__boxes .box {
  width: 150px;
  height: 90px;
  background-color: purple;
  display: table;
  margin: 10px;
  color: white;
}
.about__item__boxes .box p {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.7em;
  font-weight: bold;
}
.about__item__boxes .purple {
  background-color: purple;
  border-color: purple;
}
.about__item__boxes .wheat {
  background: wheat;
  border-color: wheat;
}
.about__item__boxes .orange {
  background-color: orange;
  border-color: orange;
}
.about__item__boxes .green {
  background-color: green;
  border-color: green;
}
.about__item .link {
  height: 40px;
  width: auto;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: bold;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #4884B7;
  color: white;
  background-color: #4884B7;
  cursor: pointer;
  margin: 20px auto;
}
.about__item .link a {
  color: white;
}
.about .item-left {
  -webkit-animation: moveL 2s ease-in-out;
          animation: moveL 2s ease-in-out;
}
.about .item-right {
  -webkit-animation: moveR 2s ease-in-out;
          animation: moveR 2s ease-in-out;
}

.reasons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  background-color: rgb(55, 71, 82);
  text-align: center;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}
.reasons__title {
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
  color: white;
}
.reasons__sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}
.reasons__sections__box {
  flex: 1;
  text-align: center;
  margin: 15px auto;
  -webkit-animation: moveB 2s ease-in-out;
          animation: moveB 2s ease-in-out;
}
.reasons__sections__box .box-img {
  background-color: rgb(212, 194, 212);
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin: 15px auto;
  text-align: center;
  position: relative;
  display: table;
}
.reasons__sections__box .box-img p {
  display: table-cell;
  vertical-align: middle;
  color: white;
  color: #202022;
}
.reasons__sections__box p {
  color: white;
}
.reasons__sections__box p a {
  color: white;
}

.simulator {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  height: 250px;
  width: 100%;
  margin: 30px auto 10px auto;
}
.simulator h2 {
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
}
.simulator__text {
  margin: 15px auto;
}
.simulator__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  -webkit-animation: entrance 3s ease-in-out;
          animation: entrance 3s ease-in-out;
}
.simulator__buttons .link {
  margin: 15px;
  height: 40px;
  width: auto;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: bold;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #4884B7;
  color: white;
  background-color: #4884B7;
  cursor: pointer;
}
.simulator__buttons .link a {
  color: white;
}

.care {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  background-color: white;
  margin: 10px auto;
}
.care .card {
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  border: none;
}
.care .card__text {
  width: 100%;
  margin: auto;
}
.care .card__text__title {
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
}
.care .card__text__text {
  width: 90%;
  text-align: left;
}
.care .card__text .link {
  width: 150px;
  margin: auto;
}
.care .card img {
  width: 300px;
  height: 250px;
  margin: auto;
}
.care .cardL {
  -webkit-animation: moveL 2s ease-in-out;
          animation: moveL 2s ease-in-out;
}
.care .cardR {
  -webkit-animation: moveR 2s ease-in-out;
          animation: moveR 2s ease-in-out;
}

.payments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  height: 300px;
  width: 100%;
  margin: 60px auto;
}
.payments__title {
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
}
.payments__items {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  -webkit-animation: entrance 2s ease-in-out;
          animation: entrance 2s ease-in-out;
}
.payments__items__item {
  margin: auto;
}
.payments__items__item img {
  width: 130px;
  height: 130px;
  border-radius: 50px;
  margin: auto;
}

.contact {
  display: block;
  margin: 20px auto 0 auto;
  height: 600px;
  width: 100%;
  background-color: rgb(55, 71, 82);
  text-align: center;
}
.contact__title {
  color: #4884B7;
  font-size: 1.8em;
  text-align: center;
}
.contact__text {
  text-align: justify;
  width: 80%;
  margin: auto;
}
.contact form {
  width: 60%;
  margin: 20px auto;
  display: block;
}
.contact form .contact__details {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.contact form .contact__details label {
  width: 49%;
}
.contact form .contact__details label input {
  width: 100%;
}
.contact form label {
  width: 100%;
}
.contact form label input {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
}
.contact form label .message {
  width: 100%;
  border-radius: 10px;
  height: 250px;
  background-color: #ddd;
}
.contact form button {
  height: 40px;
  width: auto;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: bold;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #4884B7;
  color: white;
  background-color: #4884B7;
  cursor: pointer;
  transition: 500ms ease-in-out;
}
.contact form button:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  background-color: rgba(56, 54, 54, 0.952);
  padding-top: 20px;
  margin: 0px auto 0 auto;
  bottom: 0;
}
.footer__item {
  flex: 1;
}
.footer__item ul li {
  display: block;
}
.footer__item ul li h4 {
  font-weight: bold;
  color: #4884B7;
}
.footer__item ul li a {
  margin: auto 0;
  color: white;
}

.table {
  width: 98%;
  border-collapse: collapse;
  margin: auto;
  font-family: sans-serif;
}

.table td, .table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #4884B7;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/*responsive*/
@media (max-width: 500px) {
  .table {
    width: 100%;
    display: none;
  }
  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
/*responsive*/
@media (min-width: 1024px) and (max-width: 1279px) {
  .dashboard .menu {
    display: none;
  }
  .dashboard .content {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .dashboard .menu {
    display: none;
  }
  .dashboard .content {
    width: 100%;
  }
  .dashboard .content__boxes .box p strong {
    font-size: 1.4em;
  }
  .dashboard .content__boxes .box .note span {
    font-size: 0.8em;
  }
  .top__text {
    width: 85%;
  }
  .top__text__title {
    font-size: 1.9em;
  }
  .about {
    width: 95%;
    margin: 20px auto;
  }
  .about__item__boxes {
    width: 90%;
  }
  .about__item__boxes .box {
    width: 130px;
    height: 80px;
  }
  .care {
    width: 95%;
  }
  .care .card img {
    width: 230px;
    height: 180px;
  }
  .payments {
    margin: 50px auto;
    height: 200px;
  }
  .payments__items {
    margin: 5px auto;
  }
  .payments__items__item img {
    width: 110px;
    height: 110px;
  }
  .footer {
    flex-direction: column;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .dashboard .menu {
    display: none;
  }
  .dashboard .content {
    width: 100%;
    margin: 50px auto;
  }
  .dashboard .content__boxes .box p strong {
    font-size: 1.2em;
  }
  .dashboard .content__boxes .box .note span {
    font-size: 0.8em;
  }
  .top {
    height: auto;
    margin-bottom: 5px;
  }
  .top__text {
    width: 90%;
  }
  .top__text__title {
    font-size: 2em;
  }
  .about {
    height: auto;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
  }
  .about__item__text {
    width: 90%;
  }
  .about__item__boxes {
    width: 70%;
  }
  .about__item__boxes .box {
    width: 130px;
    height: 80px;
    margin: 10px;
  }
  .care {
    flex-direction: column-reverse;
  }
  .care .card img {
    width: 300px;
    height: 200px;
    margin: 10px auto 10px auto;
  }
  .payments {
    height: auto;
  }
  .payments__items {
    width: 70%;
  }
  .payments__items__item img {
    width: 90px;
    height: 90px;
  }
  .form {
    width: 400px;
  }
  .form label {
    width: 300px;
  }
  .form .details {
    width: 90%;
  }
  .footer {
    flex-direction: column;
  }
}
@media (min-width: 350px) and (max-width: 479px) {
  .dashboard .menu {
    display: none;
  }
  .dashboard .content {
    width: 100%;
    margin: 30px auto;
  }
  .dashboard .content__boxes {
    flex-direction: column;
  }
  .dashboard .content__boxes .box p strong {
    font-size: 1em;
  }
  .dashboard .content__boxes .box .note span {
    font-size: 0.8em;
  }
  .dashboard .content__graphs {
    flex-direction: column;
  }
  .dashboard .content__graphs .graph {
    height: 200px;
  }
  .top {
    height: auto;
    margin-bottom: 5px;
  }
  .top__text {
    width: 90%;
  }
  .top__text__title {
    font-size: 1.8em;
  }
  .form {
    width: 320px;
  }
  .form h1 {
    font-size: 1.9em;
  }
  .form .details {
    width: 95%;
  }
  .form label {
    width: 300px;
  }
  .about {
    height: auto;
    flex-direction: column-reverse;
    width: 100%;
    margin: 20px auto;
  }
  .about__item {
    margin: 15px auto;
  }
  .about__item h2 {
    font-size: 1.4em;
  }
  .about__item__text {
    width: 90%;
  }
  .about__item__boxes {
    width: 90%;
  }
  .about__item__boxes .box {
    width: 110px;
    height: 60px;
    margin: 10px;
  }
  .simulator h2 {
    font-size: 1.4em;
  }
  .care {
    flex-direction: column;
    width: 100%;
    padding: 10px 10px 20px 10px;
  }
  .care .card {
    margin: 15px auto;
  }
  .care .card__text__title {
    font-size: 1.4em;
  }
  .care .card img {
    width: 270px;
    height: 180px;
    margin: 10px auto;
  }
  .reasons h2 {
    font-size: 1.4em;
    margin-top: 15px;
  }
  .reasons__sections {
    width: 98%;
  }
  .payments {
    height: auto;
  }
  .payments h2 {
    font-size: 1.4em;
  }
  .payments__items {
    width: 100%;
  }
  .payments__items__item img {
    width: 70px;
    height: 70px;
  }
  .contact {
    height: 500px;
  }
  .contact h2 {
    font-size: 1.4em;
  }
  .contact form {
    width: 90%;
  }
  .contact form label .message {
    height: 150px;
  }
  .footer {
    flex-direction: column;
    height: 1000px;
  }
}/*# sourceMappingURL=main.css.map */